html, body {
    overflow: auto;
}
body {
    background-color: #ececec !important;
}

.navbar {
    padding-block: 0.6rem !important;
    /* background: #5879b3 !important; */
    /* background: #366bc7 !important; */
    /* background: #1464cc !important; */
    background-color: #2363ca;
    border:0px #000;
    box-shadow: outset;
    -webkit-box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 2px 10px rgba(0,0,0,0.4);
}

.navbar-brand strong {
    font-weight: 900 !important;
}


.todoContent {
    background: #eeeeee;
}

.newTodo {
    display: block;
    width: 100vw;
    padding-block: 1rem !important;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.newTodo button {
    color: white;
    background-color: #2363ca;
}

.todo {
    padding: 1.5rem;
    margin-block: 1rem;
    background: white;
    outline-color: black;
    border-radius: 7px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.todo-title {
    font-weight: 800;
}

 
.todo-text {
    font-size: 17px;
    font-weight: 500;
    padding-block: 0.25rem;
    padding-right: 5rem;
}

.todo button {
    padding: 0.4rem 0.5rem;
}

#activeTodoSection {
    margin-block: 5rem;
}

#completedTodoSection {
    margin-block: 5rem;
}